.women-container{
    background-color: #edededc6;
}
.off{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.container1{
    display: flex;
    width:78%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.designers{
    font-weight: bolder;
    line-height: 30px;
}
.lastphoto{
    margin-left: 290px;
}
.center{
    left:49%;
    margin-top: -60px;
    position: absolute;
    transform: translateX(-50%);
    width:25%;
    padding:5px;
    z-index: 1;
}
.designers-container{
    text-align: center;
    background-color: white;
}
.carousel-Container{
    display:flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    padding:30px;
}
.newArrival>h2{
    font-size:35px;
    font-family:sans-serif;
}
.cImage{
    width:100%;
    height:350px
}
.carousel{
    height:500px;
    width:auto;
    /* border:1px solid; */
    text-align: center;
    padding:25px;
    font-size: small    ;
    background-color: white;
}
.cbelow{
    width: 85%;
    display:flex;
    justify-content: space-between;
    margin: auto;
    height: auto;
    margin-top: 100px;
    text-align: center;
}
.ccontainer{
    display: flex;
    width:100%;
    height: 900px;
    background-color: white;
}
.midone{
    height: 600px;
    width:auto;
}
.fstandlst{
    margin-top: 50px;
    width:370px;
    height:auto;
}
.fstandlst>img{
    width:500px;
    height:auto;
}
.h1tag{
    margin-top: 30px;
    font-weight: 800;
    font-size: 24px;
    font-family:sans-serif;
}
.h5tag{
    color: gray;
    font-family: Montserrat,sans-serif;
}